doctype html
html(ng-app="app", lang="en")
	head
		link(href="./components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
		title= "Pickup Sports LFG"
	body
		h1(style="text-align:center;") Pickup Sports LFG
		br
		br
		.container
			.row
					button#add-button.btn.btn-primary.center-block(style="width:20%;") Add My Sports Group
					br
			.row
				form#add-group-form.form-horizontal
					div#name-input-form.form-group
						label#name-label.control-label(for="name-input") Name:
						input#name-input.form-control(type="text" name="name-input" style="width:60%")

					div#phone-input-form.form-group
						label#phone-label.control-label(for="phone-input") Phone Number:
						input#phone-input.form-control(type="text" name="phone-input" style="width:60%")

					div#distance-section.form-group
						label#distance-input-label.control-label(for="distance-input") Distance:
						br
						div#distance-input-form.btn-group(name="distance-input" data-toggle="buttons")
							label.btn.btn-default
								input#one-mile-distance(type="radio" value="1" name="distance")
								|1 Mile
							label.btn.btn-default
								input#five-mile-distance(type="radio" value="5" name="distance")
								|5 Miles
							label.btn.btn-default
								input#ten-mile-distance(type="radio" value="10" name="distance")
								|10 Miles
							label.btn.btn-default
								input#twenty-five-mile-distance(type="radio" value="25" name="distance")
								|25 Miles

					div#sport-section.form-group
						label#sport-input-label.control-label(for="sport-input") Sport:
						br
						div#sport-input-form.btn-group(name="sport-input" data-toggle="buttons")
							label.btn.btn-default
								input#baseball-button(type="radio" value="baseball" name="sport")
								|Baseball
							label.btn.btn-default
								input#basketball-button(type="radio" value="basketball" name="sport")
								|Basketball
							label.btn.btn-default
								input#football-button(type="radio" value="football" name="sport")
								|Football
							label.btn.btn-default
								input#handball-button(type="radio" value="handball" name="sport")
								|Handball
							label.btn.btn-default
								input#soccer-button(type="radio" value="soccer" name="sport")
								|Soccer
							label.btn.btn-default
								input#tennis-button(type="radio" value="tennis" name="sport")
								|Tennis
							label.btn.btn-default
								input#ultimate-frisbee-button(type="radio" value="ultimate" name="sport")
								|Ultimate Frisbee

					div#skill-section.form-group
						label#skill-input-label.control-label(for="skill-input") Skill Level:
						br
						div#skill-input-form.btn-group(name="skill-input" data-toggle="buttons")
							label.btn.btn-default
								input#one-star-skill(type="radio" value="1" name="skill")
								|*
							label.btn.btn-default
								input#two-star-skill(type="radio" value="2" name="skill")
								|**
							label.btn.btn-default
								input#three-star-skill(type="radio" value="3" name="skill")
								|***
							label.btn.btn-default
								input#four-star-skill(type="radio" value="4" name="skill")
								|****
							label.btn.btn-default
								input#five-star-skill(type="radio" value="5" name="skill")
								|*****

					div#submit-section.form-group
						br
						button#submit-button.btn.btn-success(role="button" type="submit") Submit Posting

	// third party libraries
	script(src="./components/jquery/dist/jquery.js")
	script(src="./components/bootstrap/dist/js/bootstrap.js")
	script(src="./components/angular/angular.js")

	// angular
	script(src="./javascripts/app.js")